html, body {
    height: 100%;
    width: 100%;
}

#body {
    height: 100%;
    width: 100%;
    position: absolute;
}

div.horizon-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#toplevel-composite {
  overflow: scroll;
}

#toplevel-composite > .composite-gallery {
  float: left;
}

div.gallery-table {
  width: 200px;
  height: 200px;
}

#myGrid {
    width: 80%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#menuList {
    width: 20%;
    height: 100%;
    float: left;
    background-color: red;
}

